<?xml version="1.0" ?>
<robot name="counters_urdf">
    <link name="counters">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
    </link>

    <!-- counters -->
    <link name="countersroot_1">
		<inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="4442.39179"/>
			<inertia ixx="3571.10731" ixy="0" ixz="0" iyy="4266.05624" iyz="0" izz="4330.17486"/>
		</inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/cabinetbase.stl"/>
            </geometry>
            <material name="counter_blue">
                <color rgba=".46 .5 .6 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.86 -0.5 0.78" rpy="0 0 0"/>
            <geometry>
                <box size="0.92 2.14 1.554"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.907 -0.045 0.71" rpy="0 0 0"/>
            <geometry>
                <box size="0.608 1.212 1.42"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="1.158 -0.04 1.47" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1.22 0.152"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.652 -0.04 1.47" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1.22 0.152"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.904 0.401 1.47" rpy="0 0 0"/>
            <geometry>
                <box size="0.408 0.332 0.152"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.904 -0.611 1.47" rpy="0 0 0"/>
            <geometry>
                <box size="0.412 0.068 0.152"/>
            </geometry>
        </collision>
    </link>
    <link name="countersroot_2">
		<inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="4442.39179"/>
			<inertia ixx="3571.10731" ixy="0" ixz="0" iyy="4266.05624" iyz="0" izz="4330.17486"/>
		</inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/countertop.stl"/>
            </geometry>
            <material name="T_counter_marble">
                <texture filename="../textures/marble1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.159 -0.045 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.102 1.222 0.06"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.649 -0.045 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.102 1.222 0.06"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.904 0.4 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.408 0.33 0.06"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.904 -0.617 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.408 0.078 0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="-0.855 -0.508 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.926 2.16 0.06"/>
            </geometry>
            <material name="T_counter_marble">
                <texture filename="../textures/marble1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.855 -0.508 1.57" rpy="0 0 0"/>
            <geometry>
                <box size="0.926 2.16 0.06"/>
            </geometry>
        </collision>
    </link>
    <link name="countersroot_3">
		<inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="4442.39179"/>
			<inertia ixx="3571.10731" ixy="0" ixz="0" iyy="4266.05624" iyz="0" izz="4330.17486"/>
		</inertial>
        <visual>
            <origin xyz="0.909 -0.695 1.39" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.022" length="0.56"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.909 -0.695 1.39" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.022" length="0.56"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.71 -0.665 1.39" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.71 -0.665 1.39" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="1.108 -0.665 1.39" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.108 -0.665 1.39" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.909 -0.695 1.14" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.022" length="0.56"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.909 -0.695 1.14" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.022" length="0.56"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.71 -0.665 1.14" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.71 -0.665 1.14" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="1.108 -0.665 1.14" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.108 -0.665 1.14" rpy="1.57 0 0"/>
            <geometry>
                <cylinder radius="0.018" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.9 0.085 1.83" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.035" length="0.1"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9 0.085 1.83" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.035" length="0.1"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.9 0.085 1.92" rpy="0 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.16"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9 0.085 1.92" rpy="0 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.16"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.9 0.2 2" rpy="1.57 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.22"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9 0.2 2" rpy="1.57 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.22"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.9 0.317 1.8" rpy="0 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.4"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9 0.317 1.8" rpy="0 0 0"/>
            <geometry>
                <capsule radius="0.025" length="0.4"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.9 0.317 1.67" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.032" length="0.14"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9 0.317 1.67" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.032" length="0.14"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.947 0.318 1.68" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.029" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.947 0.318 1.68" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.029" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.99 0.318 1.68" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.035" length="0.026"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.99 0.318 1.68" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.035" length="0.026"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.99 0.26 1.68" rpy="1.57 0 0"/>
            <geometry>
                <capsule radius="0.01" length="0.06"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.99 0.26 1.68" rpy="1.57 0 0"/>
            <geometry>
                <capsule radius="0.01" length="0.06"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.904 -0.172 1.511" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/faucet.stl"/>
            </geometry>
            <material name="T_counter_metal">
                <texture filename="../textures/metal1.png"/>
            </material>
        </visual>
    </link>

    <!-- counters joints -->
    <joint name="counters_countersroot_1" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="counters"/>
        <child link="countersroot_1"/>
    </joint>
    <joint name="counters_countersroot_2" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="counters"/>
        <child link="countersroot_2"/>
    </joint>
    <joint name="counters_countersroot_3" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="counters"/>
        <child link="countersroot_3"/>
    </joint>
</robot>
